<% const colors = ["bg-primary","bg-secondary","bg-success","bg-danger","bg-warning","bg-info"] %>
        <% const randColor = () => {%> 
        <%  const n = Math.floor(Math.random() * colors.length);%> 
        <%  return colors[n] %> 
<% } %> 

<div class="container">
  <h1 class="page-header">Edit</h1>
  <form action=<%= "/reminder/update/" + reminderItem.id %> method="POST">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" class="form-control" id="titleInput" value="<%= reminderItem.title %>">
    </div>
    
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="descriptionInput" rows="3" placeholder="Description" name="description"><%= reminderItem.description %></textarea>
    </div>

    <div class="form-group" id="tagList">
      <label>Tags</label>
      <% reminderItem.tags.forEach((tag) => {%>
        <span class="d-inline badge rounded-pill <%= randColor() %> text-light m-1"> 
          <%= tag %>
        </span>
        <input type="hidden" name="tag-<%= tag %>" value="tag-<%= tag %>">
      <%})%>
    </div>

    <div class="form-group">
      <textarea class="form-control" placeholder="Add a new tag" name="newTag" id="createTagTextArea"></textarea>
      <p></p>
      <button type="button" class="btn btn-primary" id="createTag">Add Tag</button>
    </div>

    <div class="form-group" id="subtaskList">
      <label for="subtasks">Subtasks</label>
      <% if (reminderItem.subtasks.length == 0) { %>
        <p id="subtaskNone">None</p>
      <% } else {%>
      <% reminderItem.subtasks.forEach((subtask) => { %>
        <div class="form-check">
          <input class="form-check-input" type="hidden" name="<%= subtask.id %>" value="<%= subtask.title %>">
        <% if (subtask.completed == true) { %>
          <input class="form-check-input" type="checkbox" name="<%= subtask.id %>" value="<%= subtask.title %>" checked="checked">
        <% } else { %>
          <input class="form-check-input" type="checkbox" name="<%= subtask.id %>" value="<%= subtask.title %>">
        <% } %>
        <label class="form-check-label" for="<%= subtask.id %>"><%= subtask.title %></label>
        </div>
    <% })}%>
    </div>

    <div class="form-group">
      <textarea class="form-control" id="createSubtaskTextArea" placeholder="Add a new subtask"></textarea>
      <p></p>
      <button type="button" id="createSubtask" class="btn btn-primary">Create Subtask</button>
    </div>

    <div class="form-group">
      <lable for="reminderDate">Set Reminder Date: </lable>
      <input type="date" value="<%=reminderDate%>" class="form-control" name="reminderDate">
    </div>
    <div class="form-group">
      <lable for="reminderTime">Set Reminder Time: </lable>
      <input type="time" value="<%=reminderTime%>" class="form-control" name=reminderTime >
    </div>

    <div class="form-group">
      <label for="completed">Completed</label>
      <div class="radio">
        <label>
          <% if (reminderItem.completed == true) { %>
            <input type="radio" name="completed" id="true" value="true" checked="checked">
          <% } else { %>
            <input type="radio" name="completed" id="true" value="true">
          <% } %>
          True
        </label>
      </div>
      <div class="radio">
        <label>
          <% if (reminderItem.completed == false) { %>
            <input type="radio" name="completed" id="false" value="false" checked="checked">
          <% } else { %>
            <input type="radio" name="completed" id="false" value="false">
          <% } %>
          False
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
<script src="/subtask.js"></script>
