<div class="container">
  <h1 class="page-header">Your reminders</h1>

<ul class="list-group">
  <% reminders.forEach(function (reminderItem) { %>
    <li class="list-group-item">
      <strong><%= reminderItem.title %>: </strong>
      <%= reminderItem.description %>
      || Completed:
      <% if (reminderItem.completed == true) { %>
        <span class="badge badge-success">True</span>
      <% } else if (reminderItem.completed == false) { %>
        <span class="badge badge-danger">False</span>
      <% } %>
      <a class="pull-right" href=<%= "/reminder/" + reminderItem.id %>>View</a>
    </li>
  <% }) %>
</ul>
<p></p>
<h2>Friends' reminders</h2>
<ul class="list-group">
    <% userFriends.forEach( function(friend) { %> 
      <li class="list-group-item"><h6><%= friend.email %></h6>
          <ul>
          <% friend.reminders.forEach( function(reminder) { %> 
              <li class="list-group-item">
                  <strong><%= reminder.title %>: </strong>
                  <%= reminder.description %>
                  || Completed:
                  <% if (reminder.completed == true) { %>
                      <span class="badge badge-success">True</span>
                  <% } else if (reminder.completed == false) { %>
                      <span class="badge badge-danger">False</span>
                  <% } %>
              </li>
          <% }) %>
          </ul>
      </li>
    <% }) %>
  </ul>
</div>
