<div class="container">
  <h1 class="page-header">Reminders</h1>

    <ul class="list-group">
      <li class="list-group-item">
        <h3><strong><%= reminderItem.title %>: </strong></h3>
        <h4><%= reminderItem.description %></h4>
        <h4>Completed:
          <% if (reminderItem.completed == true) { %>
            <span class="label label-success">True</span>
          <% } else if (reminderItem.completed == false) { %>
            <span class="label label-danger">False</span>
          <% } %>
        </h4>
        <% if (reminderItem.tags.length == 0) { %>
          <label>No tags at the moment</label>
        <% } else {%>
          <% reminderItem.tags.forEach((tag) => { %>
            <div class = "d-inline m-1 tags">
              <span class="d-inline badge rounded-pill bg-warning text-dark ">
                <%= tag %>
              </span>
            </div>
            <%})%>
          <%}%>
        <h4 style="color:grey">REMIND ME</h4>
          <% if ( distanceToNow != '') { %>
            <form class="deleteReminder" method="POST">
              <div style="display:inline">
                <%= distanceToNow %> 
                <button class="btn"><i class="fa fa-trash"></i></button>
              </div>
            </form>
          <% } else { %>
            <div> Click edit to set a reminder time. </div>
          <% } %>

        <h4 style="color:grey">SUBTASKS</h4>
        <% if (reminderItem.subtasks.length == 0) { %>
          <label>No subtask at the moment...</label>
        <% } else {%>
        <% reminderItem.subtasks.forEach((subtask) => { %>
          <div class="form-check">
          <% if (subtask.completed == true) { %>
            <input class="form-check-input" type="checkbox" checked="checked" id="flexCheckDefault" disabled>
          <% } else { %>
            <input class="form-check-input" type="checkbox" id="flexCheckDefault" disabled>
          <% } %>
        <label class="form-check-label" for="flexCheckDefault">
          <%= subtask.title %>
        </label>
      </div>
        <% }) }%>
        <p></p>
        <a class="btn btn-warning" href=<%= "/reminder/" + reminderItem.id + "/edit" %>>Edit</a>
        <form class="deleteForm " method="POST" action=<%= "/reminder/delete/" + reminderItem.id %>>
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>

      </li>
    </ul>
</div>
